In [1444]:
import pandas as pd

In [1445]:
df=pd.read_csv('zomato.csv')

In [1446]:
df

,Unnamed: 0.1,Unnamed: 0,restaurant name,restaurant type,rate (out of 5),num of ratings,avg cost (two people),online_order,table booking,cuisines type,area,local address
0,0,0,#FeelTheROLL,Quick Bites,3.4,7,200.0,No,No,Fast Food,Bellandur,Bellandur
1,1,1,#L-81 Cafe,Quick Bites,3.9,48,400.0,Yes,No,"Fast Food, Beverages","Byresandra,Tavarekere,Madiwala",HSR
2,2,2,#refuel,Cafe,3.7,37,400.0,Yes,No,"Cafe, Beverages",Bannerghatta Road,Bannerghatta Road
3,3,3,'@ Biryani Central,Casual Dining,2.7,135,550.0,Yes,No,"Biryani, Mughlai, Chinese",Marathahalli,Marathahalli
4,4,4,'@ The Bbq,Casual Dining,2.8,40,700.0,Yes,No,"BBQ, Continental, North Indian, Chinese, Bever...",Bellandur,Bellandur
...,...,...,...,...,...,...,...,...,...,...,...,...
7100,7100,7100,Zoey's,Cafe,4.3,894,600.0,Yes,No,"Cafe, Italian, Continental, Burger",Bellandur,Sarjapur Road
7101,7101,7101,ZOROY Luxury Chocolate,Dessert Parlor,4.0,68,250.0,Yes,No,Desserts,Brigade Road,Church Street
7102,7102,7102,Zu's Doner Kebaps,"Takeaway, Delivery",3.7,33,350.0,No,No,"Turkish, Fast Food, Biryani, Chinese",Malleshwaram,RT Nagar
7103,7103,7103,Zyara,Casual Dining,3.8,191,650.0,Yes,No,"North Indian, Mughlai, Chinese",Kammanahalli,HBR Layout
7104,7104,7104,Zyksha,Food Truck,3.4,9,200.0,No,No,Fast Food,Bannerghatta Road,South Bangalore

data quatity check

In [1447]:
df.shape

(7105, 12)

In [1448]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7105 entries, 0 to 7104
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0.1           7105 non-null   int64
 1   Unnamed: 0             7105 non-null   int64
 2   restaurant name        7105 non-null   object
 3   restaurant type        7105 non-null   object
 4   rate (out of 5)        7037 non-null   float64
 5   num of ratings         7105 non-null   int64
 6   avg cost (two people)  7048 non-null   float64
 7   online_order           7105 non-null   object
 8   table booking          7105 non-null   object
 9   cuisines type          7105 non-null   object
 10  area                   7105 non-null   object
 11  local address          7105 non-null   object
dtypes: float64(2), int64(3), object(7)
memory usage: 666.2+ KB

In [1449]:
df.duplicated().sum()

0

In [1450]:
a=df.isna().sum()

In [1451]:
a

Unnamed: 0.1              0
Unnamed: 0                0
restaurant name           0
restaurant type           0
rate (out of 5)          68
num of ratings            0
avg cost (two people)    57
online_order              0
table booking             0
cuisines type             0
area                      0
local address             0
dtype: int64

In [1452]:
a[a>0]

rate (out of 5)          68
avg cost (two people)    57
dtype: int64

In [1453]:
df['rate (out of 5)'].mean()

3.5142532329117526

In [1454]:
df['avg cost (two people)'].mode()

0    300.0
Name: avg cost (two people), dtype: float64

In [1455]:
df['avg cost (two people)'].value_counts()

avg cost (two people)
300.0     1095
400.0      930
200.0      695
500.0      646
600.0      464
          ...
360.0        1
330.0        1
3200.0       1
3700.0       1
199.0        1
Name: count, Length: 65, dtype: int64

In [1456]:
df. columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'restaurant name', 'restaurant type',
       'rate (out of 5)', 'num of ratings', 'avg cost (two people)',
       'online_order', 'table booking', 'cuisines type', 'area',
       'local address'],
      dtype='object')

In [1457]:
df.dtypes

Unnamed: 0.1               int64
Unnamed: 0                 int64
restaurant name           object
restaurant type           object
rate (out of 5)          float64
num of ratings             int64
avg cost (two people)    float64
online_order              object
table booking             object
cuisines type             object
area                      object
local address             object
dtype: object

In [1458]:
df.columns[df.dtypes=='object']

Index(['restaurant name', 'restaurant type', 'online_order', 'table booking',
       'cuisines type', 'area', 'local address'],
      dtype='object')

In [1459]:
cat = list( df.columns[df.dtypes=='object'] )

In [1460]:
cat

['restaurant name',
 'restaurant type',
 'online_order',
 'table booking',
 'cuisines type',
 'area',
 'local address']

In [1461]:
con = list(df.columns[df.dtypes!='object'])

In [1462]:
con

['Unnamed: 0.1',
 'Unnamed: 0',
 'rate (out of 5)',
 'num of ratings',
 'avg cost (two people)']

In [1463]:
df.isna().sum()

Unnamed: 0.1              0
Unnamed: 0                0
restaurant name           0
restaurant type           0
rate (out of 5)          68
num of ratings            0
avg cost (two people)    57
online_order              0
table booking             0
cuisines type             0
area                      0
local address             0
dtype: int64

In [1464]:
def fill_categorical(df):
    numerical_cols = list(df.select_dtypes(include=['number']).columns)
    categorical_cols = list(df.select_dtypes(include=['object']).columns)
    for col in numerical_cols:
        df[col] = df[col].fillna(df[col].mean())

    
    for col in categorical_cols:
        mode_val = df[col].mode()[0]
        df[col] = df[col].fillna(mode_val)

    print('Missing Values Replaced in DataFrame')

In [1465]:
df.isna().sum()

Unnamed: 0.1              0
Unnamed: 0                0
restaurant name           0
restaurant type           0
rate (out of 5)          68
num of ratings            0
avg cost (two people)    57
online_order              0
table booking             0
cuisines type             0
area                      0
local address             0
dtype: int64

In [1466]:
fill_categorical(df)

Missing Values Replaced in DataFrame

In [1467]:
x=df[['rate (out of 5)']]

In [1468]:
x

      rate (out of 5)
0                 3.4
1                 3.9
2                 3.7
3                 2.7
4                 2.8
...               ...
7100              4.3
7101              4.0
7102              3.7
7103              3.8
7104              3.4

[7105 rows x 1 columns]

In [1469]:
y=df[['avg cost (two people)']]

In [1470]:
y.head()

   avg cost (two people)
0                  200.0
1                  400.0
2                  400.0
3                  550.0
4                  700.0

In [1471]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x,y)

LinearRegression()

In [1472]:
model.coef_

array([[374.09874866]])

In [1473]:
model.intercept_

array([-774.39127265])

In [1474]:
model.score(x,y)

0.13994055915633097

In [1475]:
ypred=model.predict(x)
ypred

array([[497.54447278],
       [684.59384711],
       [609.77409738],
       ...,
       [609.77409738],
       [647.18397225],
       [497.54447278]])

In [1476]:
y.head()

   avg cost (two people)
0                  200.0
1                  400.0
2                  400.0
3                  550.0
4                  700.0

In [1477]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,mean_absolute_percentage_error,r2_score

In [1478]:
mse=mean_squared_error(y,ypred)
mse

182787.85829374843

In [1479]:
rse=mse**(1/2)
rse

427.53696716628895

In [1480]:
mae=mean_absolute_error(y,ypred)
mae

281.2738159509906

In [1481]:
mape=mean_absolute_percentage_error(y,ypred)
mape

0.7413463064849418

In [1482]:
r2=r2_score(y,ypred)
r2

0.13994055915633097